/private/alarmRelay/alarmActiond
/private/common/commonapi-1/codegen/*.class
/product/IES5206/src/time_sync/monitor_file
/product/IES5206/src/sw_debug_enable/sw_debug_enable
/product/IES5206/src/static_trunk_mgmt/static_trunk_mgmt
/product/IES5206/src/rtc/rtc
/product/IES5206/src/spizl/spizl
/product/IES5206/src/network_task/network_task
/product/IES5206/src/htp/htp
/product/IES5206/src/hwmond/hwmon_test
/product/IES5206/src/fwupgrade/combine_syslog
/product/IES5206/src/cpld_upgrade/jbi
/private/macPoller/macpollerd
/private/pmPoller/pmpollerd
/product/IES5206/binaries
/private/lcoam/liblcoamApi.so
/private/lib/daemonlize/libbecomedaemon.so
/private/lcoam/inc/common
/private/lacp/lacp_trace
/private/include/alarmmanager
/private/include/clicommand
/private/dbgPrintLogD/dbgPrintLogd
/private/common/sw_watchdog-1/test_tool/test_malloc
/private/common/sw_watchdog-1/test_tool/sw_watchdog_on_off
/private/common/sw_watchdog-1/test_tool/sw_watchdog_test_tool
/private/common/sw_watchdog-1/module/libswd.so
/private/common/sw_watchdog-1/module/sw_watchdog
/private/bcmshell/bcm_shell
/product/IES5206/src/eeprom/eeprom
/product/IES5206/src/lib/libCpldDep/libcplddep.so
/product/IES5206/src/lib/libGpio/libgpio.so
/product/IES5206/src/lib/libSpi/libspi.so
/product/IES5206/src/lib/libSyncE/libsynce.so
/product/IES5206/src/ui/aaa/utility/pam_ssh_limits.so
/product/IES5206/src/ui/aaa/utility/pam_telnet_limits.so
/private/common/clicommand-1/cli/cliLayer1/cliInterface.c
/private/common/clicommand-1/cli/cliLayer1/cliSys.c
/private/common/clicommand-1/cli/cli_lib.c
/private/common/clicommand-1/cli/cli_util.c
/private/common/clicommand-1/cli/sys_conf.c
/private/common/clicommand-1/cli/sys_confext.c
/private/common/clicommand-1/inc/bitmap.h
/private/include/cmapi_gpon.h
/private/include/cmapi_igmpMld.h
/private/lcman/inc/lcman_ver.h
/private/alarmRelay/alarmRelayd
/private/cfm/cfm_daemon
/private/common/commonapi-1/codegen/cmapi.jar
/private/dbgPrintLogD/libdbgPrint.a
/private/dhcpL2Agent/dhcpL2Agent
/private/dhcpL2Agent/dhcpL2AgentDbg
/private/dhcpL2Agent/libdhcpL2AgentApi.so
/private/lacp/lacp_daemon
/private/lcman/lcmand
/private/lcman/liblcmanApi.so
/private/lcoam/lcoamd
/private/lib/libCpldReg/libcpldreg.so
/private/lib/libLinecardCpld/liblinecardCpld.so
/private/lib/libLinecardCpld/linecard_test
/private/lib/libimapi/libimapi.so
/private/lib/libimapi/libimapi_lcm.so
/private/lib/liboal2oam/liboal2oam.so
/private/loopguard/loopguardd
/private/tx/libtx.so
/product/IES5206/src/fwupgrade/fwupgrade
/product/IES5206/src/hwmond/hwmon
/product/IES5206/src/hwmond/libadt7476Api.so
/product/IES5206/src/hwmond/libhwmonApi.so
/product/IES5206/src/keepAliveStpD/keepAliveStpD
/product/IES5206/src/stpRelay/ms_stpRelayD
/product/IES5206/src/syncE/syncE
/product/IES5206/src/ui/aaa/utility/pam_radiusZynos.so
/product/IES5206/src/ui/aaa/utility/pam_radiusZynos_64.so
/product/IES5206/src/ui/aaa/utility/pam_tacplus5.so
/product/IES5206/src/ui/aaa/utility/pam_tacplus5_64.so
/product/IES5206/src/ui/genni/cmapi/cmapi_genni.c
/product/IES5206/src/ui/genni/cmapi/cmapi_genni.h
/product/IES5206/src/ui/gpon/cmapi/cmapi_gpon.c
/product/IES5206/src/ui/gpon/cmapi/cmapi_gpon.h
/product/IES5206/src/ui/gpon/cmapi/cmapi_gponMcastPkg.c
/product/IES5206/src/ui/gpon/cmapi/cmapi_gponMcastPkg.h
/product/IES5206/src/ui/gpon/cmapi/cmapi_gponRmtOnt.c
/product/IES5206/src/ui/gpon/cmapi/cmapi_gponRmtOnt.h
/product/IES5206/src/ui/gpon/cmapi/cmapi_gponRmtOntCard.c
/product/IES5206/src/ui/gpon/cmapi/cmapi_gponRmtOntCard.h
/product/IES5206/src/ui/igmpMld_cli/cmapi/cmapi_igmpMld.c
/product/IES5206/src/ui/igmpMld_cli/cmapi/cmapi_igmpMld.h
/product/IES5206/src/ui/ip/cmapi/cmapi_ip6Defmgmt.c
/product/IES5206/src/ui/ip/cmapi/cmapi_ip6Defmgmt.h
/product/IES5206/src/ui/ip/cmapi/cmapi_route.c
/product/IES5206/src/ui/ip/cmapi/cmapi_route.h
/product/IES5206/src/ui/switch/cmapi/cmapi_mtu.c
/product/IES5206/src/ui/switch/cmapi/cmapi_mtu.h
/product/IES5206/src/ui/switch/cmapi/cmapi_stormcontrol.c
/product/IES5206/src/ui/switch/cmapi/cmapi_stormcontrol.h
/product/IES5206/src/ui/switch/cmapi/cmapi_vlan_ge.c
/product/IES5206/src/ui/switch/cmapi/cmapi_vlan_ge.h
/product/IES5206/src/ui/vdsl/cmapi/cmapi_vdsl.c
/product/IES5206/src/ui/vdsl/cmapi/cmapi_vdsl.h
/product/IES5206/src/ui/switch/cmapi/cmapi_stp.c
/product/IES5206/src/ui/switch/cmapi/cmapi_stp.h
/private/common/clicommand-1/clicommand
/private/common/clicommand-1/sysconfig
/product/IES5206/src/ui/ddmi/cmapi/cmapi_ddmi.c
/product/IES5206/src/ui/ddmi/cmapi/cmapi_ddmi.h
/product/IES5206/src/ui/dhcpL2Agent/cmapi/cmapi_dhcpL2Agent.c
/product/IES5206/src/ui/dhcpL2Agent/cmapi/cmapi_dhcpL2Agent.h
/product/IES5206/src/ui/dot1x/cmapi/cmapi_dot1x.c
/product/IES5206/src/ui/dot1x/cmapi/cmapi_dot1x.h
/product/IES5206/src/ui/dot1x/cmapi/cmapi_ge_dot1x.c
/product/IES5206/src/ui/dot1x/cmapi/cmapi_ge_dot1x.h
/product/IES5206/src/ui/fw_upgrade/cmapi/cmapi_fwupgrade.c
/product/IES5206/src/ui/fw_upgrade/cmapi/cmapi_fwupgrade.h
/product/IES5206/src/ui/gbond/cmapi/cmapi_gbond.c
/product/IES5206/src/ui/gbond/cmapi/cmapi_gbond.h
/product/IES5206/src/ui/ge/cmapi/cmapi_ge.c
/product/IES5206/src/ui/ge/cmapi/cmapi_ge.h
/product/IES5206/src/ui/gpon/cmapi/cmapi_gponAntiMacSpoof.c
/product/IES5206/src/ui/gpon/cmapi/cmapi_gponAntiMacSpoof.h
/product/IES5206/src/ui/gpon/cmapi/cmapi_gponAntiSpoof.c
/product/IES5206/src/ui/gpon/cmapi/cmapi_gponAntiSpoof.h
/product/IES5206/src/ui/gpon/cmapi/cmapi_gponClassifierPolicy.c
/product/IES5206/src/ui/gpon/cmapi/cmapi_gponClassifierPolicy.h
/product/IES5206/src/ui/gpon/cmapi/cmapi_gponDhcp.c
/product/IES5206/src/ui/gpon/cmapi/cmapi_gponDhcp.h
/product/IES5206/src/ui/gpon/cmapi/cmapi_gponName.c
/product/IES5206/src/ui/gpon/cmapi/cmapi_gponName.h
/product/IES5206/src/ui/gpon/cmapi/cmapi_gponProtectSwitch.c
/product/IES5206/src/ui/gpon/cmapi/cmapi_gponProtectSwitch.h
/product/IES5206/src/ui/gpon/cmapi/cmapi_gponRmtOntVdsl.c
/product/IES5206/src/ui/gpon/cmapi/cmapi_gponRmtOntVdsl.h
/product/IES5206/src/ui/gpon/cmapi/cmapi_gponRmtOntenet.c
/product/IES5206/src/ui/gpon/cmapi/cmapi_gponRmtOntenet.h
/product/IES5206/src/ui/gpon/cmapi/cmapi_gponRmtOntvenet.c
/product/IES5206/src/ui/gpon/cmapi/cmapi_gponRmtOntvenet.h
/product/IES5206/src/ui/gpon/cmapi/cmapi_gponRmtUniport.c
/product/IES5206/src/ui/gpon/cmapi/cmapi_gponRmtUniport.h
/product/IES5206/src/ui/gpon/cmapi/cmapi_gponRmtUniportCfm.c
/product/IES5206/src/ui/gpon/cmapi/cmapi_gponRmtUniportCfm.h
/product/IES5206/src/ui/gpon/cmapi/cmapi_gponRmtUniportIgmp.c
/product/IES5206/src/ui/gpon/cmapi/cmapi_gponRmtUniportIgmp.h
/product/IES5206/src/ui/gpon/cmapi/cmapi_gponRmtUniportPortVlan.c
/product/IES5206/src/ui/gpon/cmapi/cmapi_gponRmtUniportPortVlan.h
/product/IES5206/src/ui/gpon/cmapi/cmapi_gponRmtUniportProtoVlan.c
/product/IES5206/src/ui/gpon/cmapi/cmapi_gponRmtUniportProtoVlan.h
/product/IES5206/src/ui/gpon/cmapi/cmapi_gponRmtUniportQos.c
/product/IES5206/src/ui/gpon/cmapi/cmapi_gponRmtUniportQos.h
/product/IES5206/src/ui/gpon/cmapi/cmapi_gponRmtUniportVlanService.c
/product/IES5206/src/ui/gpon/cmapi/cmapi_gponRmtUniportVlanService.h
/product/IES5206/src/ui/gpon/cmapi/cmapi_gponRmtUniportVoip.c
/product/IES5206/src/ui/gpon/cmapi/cmapi_gponRmtUniportVoip.h
/product/IES5206/src/ui/gpon/cmapi/cmapi_gponVlanXlate.c
/product/IES5206/src/ui/gpon/cmapi/cmapi_gponVlanXlate.h
/product/IES5206/src/ui/gpon/cmapi/cmapi_gpon_pppoeia.c
/product/IES5206/src/ui/gpon/cmapi/cmapi_gpon_pppoeia.h
/product/IES5206/src/ui/gpon/cmapi/cmapi_gpon_qos.c
/product/IES5206/src/ui/gpon/cmapi/cmapi_gpon_qos.h
/product/IES5206/src/ui/hwmon/cmapi/cmapi_hwmon.c
/product/IES5206/src/ui/hwmon/cmapi/cmapi_hwmon.h
/product/IES5206/src/ui/ip/cmapi/cmapi_ip6Inface.c
/product/IES5206/src/ui/ip/cmapi/cmapi_ip6Inface.h
/product/IES5206/src/ui/ip/cmapi/cmapi_ipInface.c
/product/IES5206/src/ui/ip/cmapi/cmapi_ipInface.h
/product/IES5206/src/ui/ip/cmapi/ifconf/cmapi_ifconf.c
/product/IES5206/src/ui/ip/cmapi/ifconf/cmapi_ifconf.h
/product/IES5206/src/ui/lcman/cmapi/cmapi_lc.c
/product/IES5206/src/ui/lcman/cmapi/cmapi_lc.h
/product/IES5206/src/ui/loopguard/cmapi/cmapi_vdsl_loopguard.c
/product/IES5206/src/ui/loopguard/cmapi/cmapi_vdsl_loopguard.h
/product/IES5206/src/ui/loopguard/cmapi/cmapi_ge_loopguard.c
/product/IES5206/src/ui/loopguard/cmapi/cmapi_ge_loopguard.h
/product/IES5206/src/ui/pppoe/cmapi/cmapi_pppoe.c
/product/IES5206/src/ui/pppoe/cmapi/cmapi_pppoe.h
/product/IES5206/src/ui/switch/cmapi/cmapi_BPDUctrl.c
/product/IES5206/src/ui/switch/cmapi/cmapi_BPDUctrl.h
/product/IES5206/src/ui/switch/cmapi/cmapi_acl.c
/product/IES5206/src/ui/switch/cmapi/cmapi_acl.h
/product/IES5206/src/ui/switch/cmapi/cmapi_arpinspection.c
/product/IES5206/src/ui/switch/cmapi/cmapi_arpinspection.h
/product/IES5206/src/ui/switch/cmapi/cmapi_atmvc.c
/product/IES5206/src/ui/switch/cmapi/cmapi_atmvc.h
/product/IES5206/src/ui/switch/cmapi/cmapi_counter.c
/product/IES5206/src/ui/switch/cmapi/cmapi_counter.h
/product/IES5206/src/ui/switch/cmapi/cmapi_cpu_mac.c
/product/IES5206/src/ui/switch/cmapi/cmapi_cpu_mac.h
/product/IES5206/src/ui/switch/cmapi/cmapi_ddos.c
/product/IES5206/src/ui/switch/cmapi/cmapi_ddos.h
/product/IES5206/src/ui/switch/cmapi/cmapi_dot3ad.c
/product/IES5206/src/ui/switch/cmapi/cmapi_dot3ad.h
/product/IES5206/src/ui/switch/cmapi/cmapi_dscp.c
/product/IES5206/src/ui/switch/cmapi/cmapi_dscp.h
/product/IES5206/src/ui/switch/cmapi/cmapi_fdb.c
/product/IES5206/src/ui/switch/cmapi/cmapi_fdb.h
/product/IES5206/src/ui/switch/cmapi/cmapi_hostprotect.c
/product/IES5206/src/ui/switch/cmapi/cmapi_hostprotect.h
/product/IES5206/src/ui/switch/cmapi/cmapi_isolation.c
/product/IES5206/src/ui/switch/cmapi/cmapi_isolation.h
/product/IES5206/src/ui/switch/cmapi/cmapi_l2.c
/product/IES5206/src/ui/switch/cmapi/cmapi_l2.h
/product/IES5206/src/ui/switch/cmapi/cmapi_l2_mc.c
/product/IES5206/src/ui/switch/cmapi/cmapi_l2_mc.h
/product/IES5206/src/ui/switch/cmapi/cmapi_loopguard.c
/product/IES5206/src/ui/switch/cmapi/cmapi_loopguard.h
/product/IES5206/src/ui/switch/cmapi/cmapi_mirror.c
/product/IES5206/src/ui/switch/cmapi/cmapi_mirror.h
/product/IES5206/src/ui/switch/cmapi/cmapi_qos.c
/product/IES5206/src/ui/switch/cmapi/cmapi_qos.h
/product/IES5206/src/ui/switch/cmapi/cmapi_ratelimit.c
/product/IES5206/src/ui/switch/cmapi/cmapi_ratelimit.h
/product/IES5206/src/ui/switch/cmapi/cmapi_rstp.c
/product/IES5206/src/ui/switch/cmapi/cmapi_rstp.h
/product/IES5206/src/ui/switch/cmapi/cmapi_smcastMac.c
/product/IES5206/src/ui/switch/cmapi/cmapi_smcastMac.h
/product/IES5206/src/ui/switch/cmapi/cmapi_vlan_port_control.c
/product/IES5206/src/ui/switch/cmapi/cmapi_vlan_port_control.h
/product/IES5206/src/ui/switch/cmapi/cmapi_vlan_table.c
/product/IES5206/src/ui/switch/cmapi/cmapi_vlan_table.h
/product/IES5206/src/ui/switch/cmapi/cmapi_vlan_tpid.c
/product/IES5206/src/ui/switch/cmapi/cmapi_vlan_tpid.h
/product/IES5206/src/ui/switch/cmapi/cmapi_vlan_translation.c
/product/IES5206/src/ui/switch/cmapi/cmapi_vlan_translation.h
/product/IES5206/src/ui/switch/cmapi/cmapi_vlan_trunk.c
/product/IES5206/src/ui/switch/cmapi/cmapi_vlan_trunk.h
/product/IES5206/src/ui/sysconfig/cmapi/cmapi_sysconfig.c
/product/IES5206/src/ui/sysconfig/cmapi/cmapi_sysconfig.h
/product/IES5206/src/ui/syslog-1/cmapi/cmapi_syslog.c
/product/IES5206/src/ui/syslog-1/cmapi/cmapi_syslog.h
/product/IES5206/src/ui/sysinfo/cmapi/cmapi_sysinfo.c
/product/IES5206/src/ui/sysinfo/cmapi/cmapi_sysinfo.h
/product/IES5206/src/ui/syssnmp/cmapi/src/cmapi_snmp.c
/product/IES5206/src/ui/syssnmp/cmapi/src/cmapi_snmp.h
/product/IES5206/src/ui/timing_reference/cmapi/cmapi_ptp.c
/product/IES5206/src/ui/timing_reference/cmapi/cmapi_ptp.h
/product/IES5206/src/ui/timing_reference/cmapi/cmapi_syncE.c
/product/IES5206/src/ui/timing_reference/cmapi/cmapi_syncE.h

*.log
*.o
*.d
*.so

.svn/
objdir/
output/
obj/

/incdir.txt
/.idea/
/open-source/
/product/IES5206/tools/
/product/IES5206/target/
/product/IES5206/docs/
/product/IES5206/binaries/
/private/kernel/
/private/include/net-snmp/
/private/include/openssl/
/private/common/alarmmanager-1/lib/
/private/common/alarmmanager-1/obj/

/sdk/
!/sdk/sdk-xlp-2.3/linux/usr/rootfs.xlp/
!/sdk/sdk-xgs-robo-6.3.9/src/customer/
!/sdk/sdk-xgs-robo-6.3.9/include/customer/
