#export PATH=/opt/broadcom/xlp_sdk_2.3/toolchains_bin/mipscross/elf/bin:/opt/broadcom/xlp_sdk_2.3/toolchains_bin/mipscross/linux/bin:$PATH
export PATH=/opt/broadcom/xlp_sdk_2.3/toolchains_bin/mipscross/linux/bin:$PATH
export AR=mips64-nlm-linux-ar
export AS=mips64-nlm-linux-as
export CC=mips64-nlm-linux-gcc
export GCC=mips64-nlm-linux-gcc
export CXX=mips64-nlm-linux-g++
export NM=mips64-nlm-linux-nm
export RANLIB=mips64-nlm-linux-ranlib
export OBJCOPY=mips64-nlm-linux-objcopy
export OBJDUMP=mips64-nlm-linux-objdump
export STRIP=mips64-nlm-linux-strip
export SIZE=mips64-nlm-linux-size

##############

export DIR_ies=/home/leon/workspace/ies

#export TARGET_INC_DIR=${DIR_ies}/product/common/target/include
#export TARGET_LIB_DIR=${DIR_ies}/product/common/target/lib
#export ROOTFS_DIR=${DIR_ies}/sdk/sdk-xlp-2.3/linux/usr/rootfs.xlp
#export PRI_DIR=${DIR_ies}/private
#export PRODUCT_BUILD_DIR=${DIR_ies}/product/common
#export NETSNMP_DL_DIR=${DIR_ies}/sdk/sdk-xlp-2.3/linux/usr/rootfs.xlp/usr/local/lib/snmp/dlmod

export PRODUCT_BUILD_DIR=${DIR_ies}/product/common
export CPUSDK_DIR=$(realpath ${DIR_ies}/sdk/sdk-xlp-2.3)
export BCMSW_DIR=$(realpath ${DIR_ies}/sdk/sdk-xgs-robo-6.3.9)
export OPENSRC_DIR=$(realpath ${DIR_ies}/open-source)
export PRI_DIR=$(realpath ${DIR_ies}/private)
export ROOTFS_DIR=${CPUSDK_DIR}/linux/usr/rootfs.xlp
export BINARIES_DIR=${CPUSDK_DIR}/binaries/mips64
export LINUX_USER_SPACE_DIR=${CPUSDK_DIR}/linux-userspace
export TARGET_INC_DIR=${PRODUCT_BUILD_DIR}/target/include
export TARGET_LIB_DIR=${PRODUCT_BUILD_DIR}/target/lib
export NETSNMP_DL_DIR=${ROOTFS_DIR}/usr/local/lib/snmp/dlmod
export NETSNMP_CONF=${ROOTFS_DIR}/usr/share/snmp/snmpd.conf
export CODEGEN_DIR=${PRI_DIR}/common/commonapi-1/codegen
export CODEGEN="java -jar ${CODEGEN_DIR}/cmapi.jar -nodummy"
export PRODUCT=IES5206

