#export PATH=/opt/broadcom/xlp_sdk_2.3/toolchains_bin/mipscross/elf/bin:/opt/broadcom/xlp_sdk_2.3/toolchains_bin/mipscross/linux/bin:$PATH
export PATH=/opt/broadcom/xlp_sdk_2.3/toolchains_bin/mipscross/linux/bin:$PATH
export AR=mips64-nlm-linux-ar
export AS=mips64-nlm-linux-as
export CC=mips64-nlm-linux-gcc
export GCC=mips64-nlm-linux-gcc
export CXX=mips64-nlm-linux-g++
export NM=mips64-nlm-linux-nm
export RANLIB=mips64-nlm-linux-ranlib
export OBJCOPY=mips64-nlm-linux-objcopy
export OBJDUMP=mips64-nlm-linux-objdump
export STRIP=mips64-nlm-linux-strip
export SIZE=mips64-nlm-linux-size

export DIR_ies=/home/leon/workspace/ies
export TARGET_INC_DIR=$DIR_ies/product/IES5206/target/include
export TARGET_LIB_DIR=$DIR_ies/product/IES5206/target/lib
export ROOTFS_DIR=$DIR_ies/sdk/sdk-xlp-2.3/linux/usr/rootfs.xlp
export PRI_DIR=$DIR_ies/private
export PRODUCT_BUILD_DIR=$DIR_ies/product/IES5206
export NETSNMP_DL_DIR=$DIR_ies/sdk/sdk-xlp-2.3/linux/usr/rootfs.xlp/usr/local/lib/snmp/dlmod
