
.bash_profile
/.ICEauthority
/.Xauthority
/.aptitude/
/.bash_history
/.bash_logout
/.cache/
/.clion11/
/.config/
/.dbus/
/.dmrc
/.gconf/
/.gksu.lock
/.gnome/
/.icons/
/.java/
/.lesshst
/.linuxmint/
/.local/
/.mozilla/
/.profile
/.pulse/
/.selected_editor
/.smartgit/
/.sqlite_history
/.ssh/
/.subversion/
/.synaptic/
/.viminfo
/.xinputrc
/.xsession-errors
/ClionProjects/
/auth.sh
/clion-1.1/
/smartgit/

/.snmp/mibs/
/workspace/build_cache.glc/
/workspace/glc/
/workspace/ies/
/workspace/lrzsz
/workspace/snmp_t2

*.bak
*.o
*.d
*.so
#a.out
*.out
