[user]
	email = 
	name = 
[core]
	fileMode = false
	pager = cat
	editor = vim
	whitespace = -blank-at-eol,-space-before-tab,-blank-at-eof
[alias]
	co = checkout
	st = status
	ci = commit
	br = branch
	lg = log --graph --branches --format='%C(auto)%h %as %<(12,trunc)%an %d %<(50,trunc)%s'
	lg2 = log --oneline --graph --branches --decorate
	lg3 = log --graph --branches --format='%C(auto)%h%d %<(50,trunc)%s'
[push]
	default = simple
[color]
	ui = true
[diff]
	tool = meld
[difftool]
	prompt = false
[credential]
    helper = cache --timeout 28800
