*.so
*.a
*.lib
*.o
*.d
*.class
*.jar
*.log

.svn/
objdir/
output/
obj/

/incdir.txt

/private/common/clicommand-1/clicommand
/private/common/clicommand-1/sysconfig
/tools/
/output/
/os/
/.idea/
/filesystem/
/private/include/
/private/lib/
/private/opensource/

/private/thirdparty
!/private/thirdparty/sdk-xgs-robo-6.3.9/src/customer/
!/private/thirdparty/sdk-xgs-robo-6.3.9/include/customer/

/private/common/AccountMgm-1/cmapi/cmapi_accountMgm.c
/private/common/AccountMgm-1/cmapi/cmapi_accountMgm.h
/private/common/cfm-1/cmapi/cmapi_cfm.c
/private/common/cfm-1/cmapi/cmapi_cfm.h
/private/common/commonapi-1/unit_test/rwsemaphore/cmapi_testdl.c
/private/common/commonapi-1/unit_test/rwsemaphore/cmapi_testdl.h
/private/common/datetime-1/cmapi/cmapi_datetime.c
/private/common/datetime-1/cmapi/cmapi_datetime.h
/private/common/ddmi-1/cmapi/cmapi_ddmi.c
/private/common/ddmi-1/cmapi/cmapi_ddmi.h
/private/common/fwupgrade-1/cmapi/cmapi_fwupgrade.c
/private/common/fwupgrade-1/cmapi/cmapi_fwupgrade.h
/private/common/ge-1/cmapi/cmapi_ge.c
/private/common/ge-1/cmapi/cmapi_ge.h
/private/common/hwmon-1/cmapi/cmapi_hwmon.c
/private/common/hwmon-1/cmapi/cmapi_hwmon.h
/private/common/sysconfig-1/cmapi/cmapi_sysconfig.c
/private/common/sysconfig-1/cmapi/cmapi_sysconfig.h
/private/common/sysinfo-1/cmapi/cmapi_sysinfo.c
/private/common/sysinfo-1/cmapi/cmapi_sysinfo.h
/private/common/syslog-1/cmapi/cmapi_syslog.c
/private/common/syslog-1/cmapi/cmapi_syslog.h
/private/product/approvesw/cmapi/cmapi_approvesw.c
/private/product/approvesw/cmapi/cmapi_approvesw.h
/private/product/baudrate/cmapi/cmapi_baudrate.c
/private/product/baudrate/cmapi/cmapi_baudrate.h
/private/product/dhcpl2agent/cmapi/cmapi_dhcpL2Agent.c
/private/product/dhcpl2agent/cmapi/cmapi_dhcpL2Agent.h
/private/product/dot1x/cmapi/cmapi_dot1x.c
/private/product/dot1x/cmapi/cmapi_dot1x.h
/private/product/loopguard/cmapi/cmapi_loopguard.c
/private/product/loopguard/cmapi/cmapi_loopguard.h
/private/product/mgmd_pack/cmapi/cmapi_igmpMld.c
/private/product/mgmd_pack/cmapi/cmapi_igmpMld.h
/private/product/pppoeia/cmapi/cmapi_pppoe.c
/private/product/pppoeia/cmapi/cmapi_pppoe.h
/private/product/switch/cmapi/cmapi_BPDUctrl.c
/private/product/switch/cmapi/cmapi_BPDUctrl.h
/private/product/switch/cmapi/cmapi_acl.c
/private/product/switch/cmapi/cmapi_acl.h
/private/product/switch/cmapi/cmapi_arpInspection.c
/private/product/switch/cmapi/cmapi_arpInspection.h
/private/product/switch/cmapi/cmapi_counter.c
/private/product/switch/cmapi/cmapi_counter.h
/private/product/switch/cmapi/cmapi_cpu_mac.c
/private/product/switch/cmapi/cmapi_cpu_mac.h
/private/product/switch/cmapi/cmapi_fdb.c
/private/product/switch/cmapi/cmapi_fdb.h
/private/product/switch/cmapi/cmapi_isolation.c
/private/product/switch/cmapi/cmapi_isolation.h
/private/product/switch/cmapi/cmapi_l2_mc.c
/private/product/switch/cmapi/cmapi_l2_mc.h
/private/product/switch/cmapi/cmapi_mtu.c
/private/product/switch/cmapi/cmapi_mtu.h
/private/product/switch/cmapi/cmapi_ratelimit.c
/private/product/switch/cmapi/cmapi_ratelimit.h
/private/product/switch/cmapi/cmapi_rstp.c
/private/product/switch/cmapi/cmapi_rstp.h
/private/product/switch/cmapi/cmapi_script_DSCP.c
/private/product/switch/cmapi/cmapi_script_DSCP.h
/private/product/switch/cmapi/cmapi_script_QOS.c
/private/product/switch/cmapi/cmapi_script_QOS.h
/private/product/switch/cmapi/cmapi_smcastMac.c
/private/product/switch/cmapi/cmapi_smcastMac.h
/private/product/switch/cmapi/cmapi_storm_control.c
/private/product/switch/cmapi/cmapi_storm_control.h
/private/product/switch/cmapi/cmapi_vlan_port_control.c
/private/product/switch/cmapi/cmapi_vlan_port_control.h
/private/product/switch/cmapi/cmapi_vlan_table.c
/private/product/switch/cmapi/cmapi_vlan_table.h
/private/product/switch/cmapi/cmapi_vlan_tpid.c
/private/product/switch/cmapi/cmapi_vlan_tpid.h
/private/product/switch/cmapi/cmapi_vlan_translation.c
/private/product/switch/cmapi/cmapi_vlan_translation.h
/private/product/switch/cmapi/cmapi_vlan_trunk.c
/private/product/switch/cmapi/cmapi_vlan_trunk.h
/private/product/timing_reference/cmapi/cmapi_ptp.c
/private/product/timing_reference/cmapi/cmapi_ptp.h
/private/product/timing_reference/cmapi/cmapi_ptp_group.c
/private/product/timing_reference/cmapi/cmapi_ptp_group.h
/private/product/timing_reference/cmapi/cmapi_syncE.c
/private/product/timing_reference/cmapi/cmapi_syncE.h
/private/xlcman/cmapi/cmapi_mscInfo.c
/private/xlcman/cmapi/cmapi_mscInfo.h
